@media (min-width: 782px) {
	div.wp-block-columns.has-2-columns.c-grid div.wp-block-column:not(:first-child),
	div.wp-block-columns.has-3-columns.c-grid div.wp-block-column:not(:first-child) {
		margin-left: 16px;
	}
}
@media (min-width: 600px) {
	div.wp-block-columns.has-2-columns.c-grid div.wp-block-column,
	div.wp-block-columns.has-3-columns.c-grid div.wp-block-column {
		flex-basis: auto;
	}
	div.wp-block-columns.has-2-columns.c-grid div.wp-block-column:nth-child(2n),
	div.wp-block-columns.has-3-columns.c-grid div.wp-block-column:nth-child(2n) {
		margin-left: 16px;
	}
}
input[type="button"],
input[type="submit"] {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
}
ul.p-form__error-box {
	list-style: none;
}