// -----------------------------------------------------------------
// Component Movie Style
// -----------------------------------------------------------------

.c-movie {
	margin: $parapraphMarginPC auto;
	&__embed {
		padding-top: 56.25%;
		position: relative;
		width: 100%;
		iframe {
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
		}
	}
	&__caption {
		color: $brownish-grey;
		font-size: 13px;
		margin-top: $parapraphMarginPC;
		text-align: center;
	}
	@include mq(md) {
		margin: $parapraphMarginSP auto;
		&__caption{
			margin-top: $parapraphMarginSP;
		}
	}
}
